* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 360px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1em;
  width: 100%;
  max-width: 960px;
  transition: opacity 0.5s;
}

.upload-section {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #039be5;
  color: white;
}

header > div {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 1em 0;
}

header h1{
  flex-grow: 1;
  font-size: 1.2em;
  font-weight: 400;
  color: white;
}
header h1 a{
  color: white;
}

header nav {
  display: flex;
  align-items: center;
}

header a {
  margin: 1em;
  text-decoration: none;
  color:rgba(255, 255, 255, 0.7);
}

header .bt-logout {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff4a;
  align-items:  center;
  justify-content: center;
}

.home .bt-home,
.queue .bt-queue,
.examples .bt-examples,
.documentation .bt-documentation {
  pointer-events: none;
  text-decoration: none;
  border-bottom: 2px solid white;
  color: white;
}

h2, h3 {
  font-weight: 400;
  font-size: 0.9em;
  color: #575757;
}

h3 {
  margin-top: 2.5em;
  padding-bottom: 0.5em;
  /* border-bottom: 1px solid #eee; */
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.bt {
  display: inline-flex;
  align-items: center;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  font-weight: 500;
  color: #444;
}
.bt .material-icons {
  margin-right: 0.3em;
}
.bt:hover {
  background: #e6e6e6;
}

.bt-highlight {
  background: #039be5;
  color: white;
  border: none;
}
.bt-highlight:hover {
  background: #5ab9e8;
}

/**
 * INDEX
 */

.index h2 {
  font-size: 2em;
  font-weight: 100;
}

.index main {
  text-align: center;
}

.index main div {
  margin-top: 2em;
  text-align: left;
  background: rgba(127, 127, 127, 0.05);
  padding: 1em;
  border-radius: 5px;
}

.index main a {
  text-decoration: none;
  color: #039be5;
}

/**
 * UPLOAD
 */

.uploader {
  background: rgba(127, 127, 127, 0.05);
  border: 1px solid #eee;
  padding: 1.5em;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

.uploaded .uploader {
  text-align: left;
  color: #009688;
}
.uploaded .uploader i {
  margin-right: 1em;
}

.upload-status {
  display: none;
  font-weight: 500;
}

.render-list {
  border: 1px solid #EEE;
  border-bottom: none;
}

.preload {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 999;
  display: none;
}

body.loading .status-section {
  opacity: 0;
}

.upload-section {
  border: 1px solid #eeeeee;
  margin: 1em;
  border-radius: 5px;
}

.upload-section h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.upload-section > div:not(:first-child) {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #eeeeee;
}
.upload-section > div:not(:last-child) {
  /* margin-right: 0.5em; */
  /* flex: 1; */
}

body.loading .preload {
  display: block;
}

body.uploading .uploader {
  display: none;
}

body.uploading .upload-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bt-submit {
  padding: 1.5em 5em;
}

.service-checkbox {
  border-radius: 3px;
  padding: 0.35em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-right: 0.5em;
  color: rgba(0, 0, 0, 0.75);
  line-height: 40px;
  white-space: nowrap;
  font-size: 0.9em;
  background: #f8f8f8;
}

/**
 * RENDER QUEUE
 */

.render {
  border-bottom: 1px solid #EEE;
  background: white;
  padding: 1em;
  position: relative;
}

.render:hover {
  background: #F9F9F9;
}

.render .date {
  display: none;
  font-size: 0.8em;
  color: rgba(0,0,0,0.5);
  margin-top: 0.2em;
  margin-right: 1em;
}
.render:hover .date {
  display: inline;
}

.render .infos {
  display: flex;
  align-items: center;
}

.render .infos > * {
  margin-left: 2.5vw;
}

.render .infos .title {
  font-size: 0.9em;
  flex-grow: 1;
  margin-top: -0.2em;
}

.render .infos .title h4 {
  display: inline;
  font-weight: 500;
  /* color: #049ae5; */
}

.render .detail, .render .progress {
  display: none;
  margin-top: 1em;
  padding: 1em;
  font-size: 0.7em;
  background: rgb(234, 234, 234);
  font-family: "Roboto Mono", "Consolas", monospace;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  background: white;
  border-left: 3px solid #049ae5;
}

.render .download-bt {
  display: none;
}

.render.logs-expanded .detail, .render.logs-expanded .progress {
  display: block;
}

.render.logs-expanded .detail .error, .render.logs-expanded .progress .error {
  color: #F44336;
}

.render .infos .status {
  text-align: center;
  color: grey;
  flex: 0 0 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
}
.render .infos::after {
  content: 'waiting';
  text-transform: uppercase;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 0.3em 0.5em 0.2em;
  border: 1px solid rgba(0,0,0,0.2);
  margin-left: 2.5vh;
}

.render .labels {
  margin-top: 0.5em;
  flex-wrap: wrap;
  display: none;
}

.render:hover .labels{
  display: inline-flex;
}

.render .labels span {
  border-radius: 3px;
  padding: 0.2em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
  background: #f5f5f5;
}

.render.complete {
  /* background: #dbefdb; */
}
.render.complete .detail, .render.complete .progress {
  border-left: 3px solid #009688;
}
.render.complete .infos .status {
  color: #009688;
}
.render.complete .infos::after, .render.complete_with_error .infos::after {
  content: none;
}

.render.complete_with_error .detail, .render.complete_with_error .progress {
  border-left: 3px solid #FF9800;
}
.render.complete_with_error .infos .status {
  color: #FF9800;
}

.render.error .detail {
  border-left: 3px solid red;
  color: red;
}
.render.error .infos .status {
  color: #F44336;
}
.render.error .infos::after {
  content: 'error';
}

.render.processing {
  background: #f3f3f3;
}
.render.processing .infos .status {
  color: black;
}
.render.processing .infos::after {
  content: 'processing...';
}

.render.complete .download-bt, .render.complete_with_error .download-bt {
  display: inline-flex;
}

.examples iframe, .documentation iframe {
  width: 100%;
}

.documentation main {
  padding: 0;
}

@media (max-width: 640px) {
  main {
    padding: 0;
  }
  h3 {
    padding-left: 1em;
  }
  .form-block  {
    padding-left: 1em;
  }
  .render {
    padding-left: 0;
  }
  .render .infos img {
    width: 75px;
  }
  .render .labels {
    display: none;
  }
  .render .bt {
    display: flex;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .render .bt .material-icons {
    margin: 0;
  }
  .render .bt > span {
    display: none;
  }
}
